<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Package</td>
            <td>Date</td>
            <td>Message</td>
       </tr>
       {% for i in data %}
        <tr>
            
            <td>{{i.firstname}}</td>
            <td>{{i.email_id}}</td>
            <td>{{i.phoneno}}</td>
            <td>{{i.packages}}</td>
            <td>{{i.date}}</td>
            <td>{{i.Messages}}</td>
           
        </tr>
        {% endfor %}
    </table>
</body>
</html>